streamlit==1.31.0
pandas
plotly
pandasai
langchain
langchain_experimental
langchain_openai
tabulate
openai
streamlit_shadcn_ui
pygwalker
faker
google-cloud-aiplatform
streamlit_chat
langchain-core
streamlit_extras
scikit-learn