streamlit==1.30.0
pandas
plotly
pandasai
langchain==0.1.3
langchain-core==0.1.15
langchain-experimental==0.0.49
langchain_openai
tabulate
openai
streamlit_shadcn_ui
pygwalker
faker
google-cloud-aiplatform
streamlit_chat
streamlit_extras
scikit-learn
langchain-community